.error2 {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom, #F0EADC, #fbd786, #f7798a);
    display: flex;
    flex-direction: column;
}

.sky2 {
    flex: 9;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sky2 h2,
.sky2 h3 {
    margin: 0;
}

.sky2 h2 {
    font-size: 6em;
    color: #fff;
    text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.sky2 h3 {
    font-size: 3em;
    color: #fff;
    text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 20px;
}

.sky2 span {
    margin-right: 10px;
    margin-bottom: 50px;
}

.sky2 h2 span {
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
}

.sky2 h3 span {
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
}



@keyframes animate {

    0%,
    100% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(50px);
    }
}


:root {
    --width: 1000px;
  }
  
  
  .splash {
      position: absolute;
      width: var(--width);
      height: 70px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
  }
  
  .run {
      position: relative;
      display: flex;
      width: 100px;
      animation: run 5s linear infinite;
  }
  
  @keyframes run {
      0%,
      100% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(var(--width));
      }
      51% {
          transform: translateX(var(--width)) scaleX(-1);
      }
      99% {
          transform: translateX(0) scaleX(-1);
      }
  }
  
  .pacman {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #ffcc00;
      position: relative;
      animation: pacman 0.3s infinite alternate;
  }
  
  @keyframes pacman {
      from {
          clip-path: polygon(50% 50%, 100% 20%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 80%);
      }
      to {
          clip-path: polygon(50% 50%, 100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 50%);
      }
  }
  
  .pacman::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      top: 10px;
      right: 20px;
      background: black;
  }