.myorder-day {
  font-size: 18px;
  color: #333;
  text-align: start;
  margin-top: 30px;
}

.myorder-rectangle {
  width: 800px;
  height: auto; /* 높이를 콘텐츠에 맞게 */
  margin-top: 10px;
  background-color: #EAE1D3;
  display: flex;
  flex-direction: column; /* 날짜와 내용을 수직으로 배치 */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.myorder-products {
  display: flex; /* 아이템들을 가로로 나열 */
  align-items: center;
  justify-content: flex-start; /* 아이템들을 왼쪽 정렬 */
}

.myorder-product {
  display: flex;
  align-items: center; /* 이미지와 텍스트를 세로 정렬 */
  margin-right: 20px; /* 아이템 간 간격 */
  width: 100%; /* 전체 폭 사용 */
  justify-content: space-between; /* 내부 요소를 좌우로 배치 */
}

.myorder-product-image {
  width: 80px; /* 이미지 크기 */
  height: 80px; /* 이미지 크기 */
  margin-right: 10px; /* 이미지와 텍스트 간 여백 */
}

.myorder-product-image img {
  width: 100%; /* 이미지가 정사각형이 되도록 */
  height: 100%; /* 이미지가 정사각형이 되도록 */
  border-radius: 8px; /* 모서리 둥글게 */
}

.myorder-product-info {
  font-size: 16px; /* 텍스트 크기 */
  color: #333;
  text-align: center; /* 텍스트를 가운데 정렬 */
  flex-grow: 1; /* 나머지 공간을 채우도록 설정 */
  white-space: nowrap; /* 한 줄로 정렬 */
  overflow: hidden; /* 텍스트가 넘치면 숨기기 */
  text-overflow: ellipsis; /* 넘친 텍스트에 말줄임표 */
}

.myorder-product-price {
  font-size: 16px; /* 텍스트 크기 */
  color: #333;
  margin-left: 10px; /* 텍스트 사이 간격 */
  text-align: right; /* 텍스트를 오른쪽 정렬 */
}
